<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mapper.MenuMapper"> 
	 <select  id="findByAccount"  parameterType="com.pojo.MenuInfo" resultType="com.pojo.MenuInfo">
		SELECT 
			 id,name, url,iconfont,pid,sort,deleteStatus,status,updated,created				
		 FROM menu_info   
	      where   deleteStatus = 1 and status =1
			   <!--<trim suffixOverrides="and"> -->
			    <if test="name !=null">
					and name =#{name} 
				</if>
				
				<!--  </trim> -->     		       
	</select >
		<select  id="findCount"  parameterType="com.pojo.MenuInfo" resultType="int">
		SELECT 
			 count(1)			
		 FROM menu_info     
	      where   deleteStatus = 1 and status =1
			   <!--<trim suffixOverrides="and"> -->
			    <if test="name !=null">
					and name =#{name} 
				</if>
				
				<!--  </trim> -->     		       
	</select >	
	<select id="list" resultType="map" parameterType="com.pojo.MenuInfo">
		SELECT 
			 id,name, url,iconfont,pid,sort,deleteStatus,status,updated,created				
		 FROM menu_info 
		where deleteStatus=1
			 <if test="name !=null and name !=''">
					and name like concat('%',#{name},'%')
				</if>
				 <if test="null!= created and created !=''">
                and created >=#{created}
            </if>
            <if test="null!= updated and updated !=''">
                and created &lt;= #{updated}
            </if> <!--  ORDER BY updated DESC-->
	</select> 		
	
	<update id="updateMenu" parameterType="com.pojo.MenuInfo">
		update
		menu_info set name = #{name},url=#{url},iconfont=#{iconfont},pid=#{pid},sort=#{sort} ,updated=#{updated} where id = #{id}
	</update>	

	
	<insert id="addMenu"  parameterType="com.pojo.MenuInfo">	  
       		insert into menu_info (name, url,iconfont,pid,sort,deleteStatus,status,updated,created)
       							
                   values (#{name},#{url},#{iconfont},#{pid},#{sort},#{deleteStatus},#{status},#{created},#{created})
    </insert>
    
    <update id="deleteMenu" parameterType="com.pojo.MenuInfo">
		update
		menu_info set deleteStatus = #{deleteStatus},updated=#{updated} where id = #{id}
	</update>
	<update id="updateMenuStatus" parameterType="com.pojo.MenuInfo">
		update
		menu_info set status = #{status},updated=#{updated} where id = #{id}
	</update>
	
</mapper>





