<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mapper.StatisticsMapper"> 

	<!-- 手机金额 -->
	
	<select id="findMobilePhone" resultType="String" >
		SELECT 
			 setValue			
		 FROM setting  where setKey = 'mobilePhone' 
		
		
	</select> 
	<select id="findmerchantAll" resultType="com.pojo.Merchant" >
		SELECT 
			 id,name, payInfo, createTime ,lastLoginTime,lastModiftyTime,isDel,des			
		 FROM merchant  
		
		
	</select> 
	<select id="findMhtotaldataInfo" resultType="com.pojo.MhtotaldataInfo"  parameterType="com.pojo.MhtotaldataInfo">
		SELECT 
			  id,dateInt,merchantId,merchantName,autCount,netCount,exTaskCount,oDIntCount,oDExIntCount,totalIntCount,tatalIncome,notTotalIntCont
		 FROM mhtotaldata  
		 where  dateInt = #{dateInt} and merchantId = #{merchantId}
	</select>
	
	<select id="findOndate_toBonus_taskCount_toAmountS1_toAmountS0" resultType="map" parameterType="com.pojo.MhtotaldataInfo">
		 
		 SELECT 
	CAST(IFNULL(SUM(tr1.toBonus),0) AS DECIMAL(18,2))AS  toBonus , IFNULL(SUM(tr1.coutId),0) AS taskCount ,CAST(IFNULL(SUM(cah1.toAmount_s1),0)AS DECIMAL(18,2))AS  toAmountS1,
	CAST(IFNULL(SUM(cah0.toAmount_s0),0) AS DECIMAL(18,2))AS toAmountS0
		 FROM  (SELECT id ,merID  FROM USER where isDel =1
        	
         	GROUP BY id,merID)  u 
		 
		 LEFT JOIN (SELECT userID  ,SUM(bonus) AS toBonus ,COUNT(id) AS coutId FROM taskrecord WHERE STATUS = 1 AND createDate = #{dateInt}
        	
         	GROUP BY userID) tr1 ON tr1.userId = u.id
		LEFT JOIN (SELECT userID  ,SUM(amount) AS toAmount_s1 FROM cashrecord WHERE state = 1 AND createDate = #{dateInt}
        	
         	GROUP BY userID) cah1 ON cah1.userId = u.id
         	LEFT JOIN (SELECT userID  ,SUM(amount) AS toAmount_s0 FROM cashrecord WHERE state = 0 AND createDate &lt;= #{dateInt}
        	
         	GROUP BY userID) cah0 ON cah0.userId = u.id
         	
		 WHERE  merID =#{merchantId} 
		 
	</select>
	
	<select id="findOndate__onAutCount_onNetCount_withdrawable" resultType="map" parameterType="com.pojo.MhtotaldataInfo">
		 
		 SELECT 
	         IFNULL(SUM(u.u_count1),0) AS onAutCount,IFNULL(SUM(u2.u_count3),0) AS onNetCount ,CAST(IFNULL(SUM(u3.u_withdrawable),0) AS DECIMAL(18,2))AS  withdrawable 
		 FROM  (SELECT id ,merID  FROM USER where isDel =1
        	
         	GROUP BY id,merID)  u1 
		 
		 LEFT JOIN ( SELECT id,COUNT(1) AS u_count1 FROM USER  WHERE   createDate = #{dateInt} GROUP BY id) u ON u.id = u1.id 
		 
		 LEFT JOIN (SELECT id,COUNT(1) AS u_count3 FROM USER  WHERE   imei IS NOT NULL GROUP BY id) u2 ON u2.id = u1.id
		 
		 LEFT JOIN (SELECT id,SUM(withdrawable) AS u_withdrawable FROM USER  WHERE   imei IS NOT NULL GROUP BY id) u3 ON u3.id = u1.id
		 WHERE  merID = #{merchantId}
	</select>
	
	 <insert id="addMhtotaldata"  parameterType="com.pojo.MhtotaldataInfo">
                   insert into mhtotaldata (dateInt,merchantId,merchantName,autCount,netCount,exTaskCount,oDIntCount,oDExIntCount,totalIntCount,tatalIncome,notTotalIntCont,createTime,lastModiftyTime,oDautCount,oDnetCount)
                   values (#{dateInt},#{merchantId},#{merchantName},#{autCount},#{netCount},#{exTaskCount},#{oDIntCount},#{oDExIntCount},#{totalIntCount},#{tatalIncome},#{notTotalIntCont},#{createTime},#{lastModiftyTime},#{oDautCount},#{oDnetCount})
      </insert>
	<update id="updateMhtotaldata" parameterType="com.pojo.MhtotaldataInfo">
		update
		mhtotaldata set merchantId = #{merchantId},merchantName =#{merchantName},autCount = #{autCount},netCount = #{netCount}
		
		,exTaskCount = #{exTaskCount},oDIntCount = #{oDIntCount},oDExIntCount = #{oDExIntCount},totalIntCount = #{totalIntCount}
		,tatalIncome = #{tatalIncome},notTotalIntCont = #{notTotalIntCont},	lastModiftyTime = #{lastModiftyTime},oDautCount = #{oDautCount},oDnetCount = #{oDnetCount}	
				where dateInt = #{dateInt} and merchantId = #{merchantId}
	</update>
	
	<select id="findOndate_withdrawable_toBonus" resultType="map" parameterType="com.pojo.MhtotaldataInfo">
		 
		
		  SELECT 
	CAST(IFNULL(SUM(tr1.toBonus),0) AS DECIMAL(18,2))AS  toBonus , CAST(IFNULL(SUM(u.u_withdrawable),0) AS DECIMAL(18,2))AS  u_withdrawable 
		 FROM  (SELECT id ,merID ,SUM(withdrawable) AS u_withdrawable FROM USER where isDel =1
        	
         	GROUP BY id,merID)  u 
		 
		 LEFT JOIN (SELECT userID  ,SUM(bonus) AS toBonus  FROM taskrecord WHERE STATUS = 1 AND createDate = #{dateInt}
        	
         	GROUP BY userID) tr1 ON tr1.userId = u.id
		
		 WHERE  merID = #{merchantId} 
	
	</select>
	<select id="sumMhtotaldataInfo" resultType="com.pojo.MhtotaldataInfo" parameterType="com.pojo.TotaldataInfo">
		 
		SELECT 
				 SUM(autCount) AS autCount,SUM(netCount) AS netCount,SUM(exTaskCount) AS exTaskCount,CAST(SUM(oDIntCount) AS DECIMAL(18,2)) AS oDIntCount,
				 CAST(SUM(oDExIntCount) AS DECIMAL(18,2)) AS oDExIntCount ,CAST(SUM(totalIntCount) AS DECIMAL(18,2)) AS totalIntCount,
				 CAST(SUM(tatalIncome) AS DECIMAL(18,2)) AS tatalIncome , CAST(SUM(notTotalIntCont) AS DECIMAL(18,2)) AS notTotalIntCont ,
				 SUM(oDautCount) AS oDautCount , SUM(oDnetCount) AS oDnetCount  
				 
		 FROM mhtotaldata  
		 
		 where dateInt = #{dateInt}
	
	</select>
	<select id="findTotalDatacount" resultType="int" parameterType="com.pojo.TotaldataInfo">
		 
		SELECT count(1)				
		 FROM totaldata  		 
		 where dateInt = #{dateInt}
	
	</select>
	
	<insert id="addTotaldata"  parameterType="com.pojo.TotaldataInfo">
                   insert into totaldata (dateInt,autCount,addAutCount,netCount,exTaskCount,addNetCount,oDIntCount,oDExIntCount,totalIntCount,tatalIncome,notTotalIntCount,createTime,lastModiftyTime)
                   values (#{dateInt},#{autCount},#{addAutCount},#{netCount},#{exTaskCount},#{addNetCount},#{oDIntCount},#{oDExIntCount},#{totalIntCount},#{tatalIncome},#{notTotalIntCount},#{createTime},#{lastModiftyTime})
    </insert>
	<update id="updateTotaldata" parameterType="com.pojo.TotaldataInfo">
		update
		totaldata set dateInt = #{dateInt},autCount =#{autCount},addAutCount = #{addAutCount},netCount = #{netCount}
		
		,exTaskCount = #{exTaskCount},addNetCount = #{addNetCount},oDIntCount = #{oDIntCount},oDExIntCount = #{oDExIntCount}
		,totalIntCount = #{totalIntCount},tatalIncome = #{tatalIncome},notTotalIntCount = #{notTotalIntCount},	lastModiftyTime = #{lastModiftyTime}
				where dateInt = #{dateInt}
	</update>
	<select id="findDataCashrecordInfo" resultType="com.pojo.DataCashrecordInfo" parameterType="com.pojo.DataCashrecordInfo">
		 
		SELECT merID as mhId,method,sum(sum_bonus) as amount,sum(cn) as count,name as mhName, createDate FROM(SELECT 
	         IFNULL(tr.bonus,0) AS sum_bonus ,u.id,u.merID,tr.method,m.name,tr.createDate,tr.cn
		 	 FROM  (SELECT id ,merID  FROM USER WHERE isDel =1
        	
         			GROUP BY id,merID)  u
            LEFT JOIN merchant m ON u.merID = m.id
         	LEFT JOIN (SELECT  userID ,method,createDate,SUM(amount) AS bonus ,COUNT(1) as cn FROM cashrecord  WHERE createDate = #{createDate} and state  =0 GROUP BY userID,method,createDate) tr ON u.id = tr.userID
			where tr.method is not null
		) a     GROUP BY merID,method
	
	</select>
	<select id="findDataCashrecordInfoCount" resultType="int" parameterType="com.pojo.DataCashrecordInfo">
		 
		SELECT count(1)				
		 FROM datacashrecord  		 
		 where createDate = #{createDate} and  method = #{method} and mhId = #{mhId}
		 	
	</select>

	<insert id="addDataCashrecordInfo"  parameterType="com.pojo.DataCashrecordInfo">
                   insert into datacashrecord (method,amount,state,createDate,count,mhName,mhId,createTime,lastModiftyTime)
                   values (#{method},#{amount},#{state},#{createDate},#{count},#{mhName},#{mhId},#{createTime},#{createTime})
    </insert>
	<update id="updateDataCashrecordInfo" parameterType="com.pojo.DataCashrecordInfo">
		update
		datacashrecord set method = #{method},amount =#{amount}, count= #{count},mhName = #{mhName}		
		,mhId = #{mhId},lastModiftyTime = #{createTime}
				where createDate = #{createDate} and  method = #{method} and mhId = #{mhId}
	</update>
	
</mapper>





