<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="UserInfo"> 
	
	 <resultMap type="com.maien.system.manager.user.model.UserInfo"
		id="UserInfoResult">    
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="userId" jdbcType="VARCHAR" property="userId" />
		<result column="loginName" jdbcType="VARCHAR" property="loginName" />
		<result column="aliasName" jdbcType="VARCHAR" property="aliasName" />
		<result column="accType" jdbcType="VARCHAR" property="accType" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="lastDate" jdbcType="VARCHAR" property="lastDate" />
		<result column="registerDate" jdbcType="VARCHAR" property="registerDate" />
		<result column="enableDate" jdbcType="VARCHAR" property="enableDate" />
		<result column="disableDate" jdbcType="VARCHAR" property="disableDate" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="session" jdbcType="VARCHAR" property="session" />
	</resultMap>	 
	<select  id="getUserInfo"  parameterType="map" resultMap="UserInfoResult">
		select  
		    id,
		 	USERID, 
			LOGINNAME,
			ALIASNAME, 
			ACCTYPE,
			STATUS,
			PASSWORD,
			LASTDATE,
			REGISTERDATE,
		 	ENABLEDATE, 
		 	DISABLEDATE,
		 	EMAIL,
		 	session	
	  from tbl_admin_info	      
	      where    
			    <trim suffixOverrides="and"> 
			    <if test="loginName!=null">
					 loginName =#{loginName} and
				</if>
				<if test="password!=null">
					 password =#{password} 
				</if>
				
				</trim>      		       
	</select >	
	
	<update id="insertSession">
		update
		tbl_admin_info set session = #{session}  where loginName = #{loginName}
	</update>
</mapper>





