
<!DOCTYPE html>

<html>
<head>
<title>服务条款</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta charset="UTF-8">

<link rel="stylesheet" href="http://47.107.52.22/beiYong/css/web-base.css">

<script type="text/javascript"></script>

</head>
<body>

<div class="container">
<div class="content web-pannel">
<h4 style="text-align:center;">《风险揭示书》</h4>
<div>
<p>
尊敬的会员：<br>
&nbsp;&nbsp;当您开始使用深圳倍佣网络科技有限公司提供的《倍佣云》移动APP产品时可能获到收益或者较高的收益，但同时也存在一些风险，为了帮助更清楚的了解其中的风险，特提供本《风险揭示书》。请仔细阅读并完全理解本告知书中的全部内容，并对自风险承受能力、风险控制能力以及自身经济状况、投资经验等做出客观判断 。<br>
&nbsp;&nbsp;1.本网站内的所有参数都有可能会随具体情况的变化而有所改变。比如广告数量和返回积分，积分兑换手续费等。<br>
&nbsp;&nbsp;2.如果有会员冒用他人名字并展开任务的行为，会受到系统的检测并处罚。<br>
&nbsp;&nbsp;3.如果会员自己操作失误，比如填错银行账号信息等情况，在没有告知客服修改的情况下，会员自行承担。<br>
&nbsp;&nbsp;4.如果会员对广告商及平台造成负面影响的，则冻结该会员所有积分并限制登录。<br>
&nbsp;&nbsp;5.如果会员在推广过程中夸大收益的，给平台造成负面影响的，则冻结积分并限制登录。<br>
&nbsp;&nbsp;6.用户应保证终端设备在线时间不少于6小时，低于6小时收益将不结算本次收益。用户不得对终端手机以及预装软件进行修改、更名、增加、删除、分割、反编译等行为，如果因为用户出现上述行为造成损失，用户自行承担损失。并且应当及时向客服人员反映，配合客服解决。<br>
&nbsp;&nbsp;7.个人信息泄露，比如登录密码泄露等问题造成自己损失的，自行承担损失。<br>
&nbsp;&nbsp;8.严禁替代点击广告和操作，如有代替会员操作造成纠纷的，双方自行解决并承担责任，平台也会处罚相关会员。<br>
&nbsp;&nbsp;9.因商业保密协议，我司有权不提供收益明细，乙方对此表示接受。<br>
&nbsp;&nbsp;10.由于无法控制和不可预测，不可抗力等因素，造成会员收益损失的，本网站平台不承担任何责任。例如：地震，火灾，水灾，战争等不可抗力因素，或者通讯系统故障，黑客入侵，服务器数据库损坏等。<br>
&nbsp;&nbsp;本人已经阅读并完全理解以上内容，完全同意并自愿承担所有可能的风险和损失。<br>
</p>

</div>
</div>
</div>
<div class="footer"></div>
</body>
</html>
