<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>项目管理后台</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <meta http-equiv="content-type" content="text/html; charset=gbk"/>
    <meta name="keywords" content="管理后台"/>
    <meta name="description" content="管理后台"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <script src="../res/js/jquery-1.8.3.min.js"></script>
    <link href="../res/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../res/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="../res/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="../res/css/style.css" rel="stylesheet"/>
    <link href="../res/css/style-responsive.css" rel="stylesheet"/>
    <link href="../res/css/style-default.css" rel="stylesheet" id="style_color"/>
    <link href="../res/js/skin/layer.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../favicon.ico"/>
    
</head>
<body class="fixed-top">
<!-- BEGIN HEADER -->

<div id="header" class="navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="container-fluid">
            <!--BEGIN SIDEBAR TOGGLE-->
            <div class="sidebar-toggle-box hidden-phone">            
                <div class = "icon-reorder tooltips" style="margin: 0 auto;" data-original-title="菜单显示/隐藏">
                 <img src=""  style=" margin-top:10px;"/>  </div>
            </div>
            <!--END SIDEBAR TOGGLE-->
            <!-- BEGIN LOGO -->
            <!-- <a class="brand" href="preChangePassword">
                 <img src="../res/img/logo.png" alt="Metro Lab"/>              
            </a> -->
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse"
               data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="arrow"></span>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- END  NOTIFICATION -->
             <div class="top-nav ">
                <ul class="nav pull-right top-menu">
                   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         <!-- <img src="../res/favicon/www.graphicsguru.com_favicon.ico"/>  -->
                            <span id="" class="username">${adminName}:${adminAccount}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li><a href="#"><img src=""/>我的资料</a></li>
                            <li><a href="#"><img src=""/>我的设置</a></li>
                           <li><a href="homelogout"><img src=""/>退出</a></li>    
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>  
                </div>       
        </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="sidebar-scroll page-sidebar">
        <div id="sidebar" class="nav-collapse collapse">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <div class="navbar-inverse">
                <form class="navbar-search visible-phone">
                    <input type="text" class="search-query" placeholder="Search"/>
                </form>
            </div>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="sidebar-menu" id="menu">
                
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <div class="main-content tabbable tabbable-custom page-content">
        <ul class="nav nav-tabs">
        </ul>
        <div class=" tab-content"></div>
        <!--<iframe id="main-iframe" name="main-iframe" src="/dashboard" width="100%" height="100%" style="border: 0;" allowTransparency="true"></iframe>-->
    </div>


</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div id="footer">
    2019 &copy;
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->

<script src="../res/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="../res/assets/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../res/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../res/js/jquery.sparkline.js" type="text/javascript"></script>
<script src="../res/js/jquery.scrollTo.min.js" type="text/javascript"/></script>
<!--common script for all pages-->
<script src="../res/js/common-scripts.js?v=1724"></script>
<script src="../res/js/layer.min.js" type="text/javascript"></script>
<script src="../res/js/bootstrap-tab.js" type="text/javascript"/></script>
<script src="../res/js/slide-menu.js" type="text/javascript"/></script>
<script language="javascript" type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {
		
        $(".main-content").height($(window).height() - 116);
        $("#main-iframe").height($(".main-content").height());
        $(window).resize(function () {
            $(".main-content").height($(window).height() - 116);

            $("#main-iframe").height($(".main-content").height());
        });

        var loding = "";
        $("#main-iframe").change(function () {
            loding = layer.load();
            alert("开始加载!");
        });
        $("#main-iframe").load(function () {
            layer.close(loding);
        });
        var mainIframeA = $("a[target='main-iframe']");
        $.each(mainIframeA, function () {
            var href = $(this).attr('href') + "?random=" + getRandom(100000);
            $(this).attr('href', href);
        });
        $(function () {
            $('#menu').sidebarMenu({
                url:"menu.json"
            });
        });
    function getRandom(n) {
        return Math.floor(Math.random() * n + 1);
    }

});
</script>

<!-- END JAVASCRIPTS -->
</body>
</html>
