<!DOCTYPE html>
<html>
<head>
<meta charset="gbk"> 
<script src="../res/js/jquery-1.8.3.min.js"></script>
	
<link rel="stylesheet" href="../res/styles/login.css"/>


<script type="text/javascript"
	src="../res/scripts/cookie_util.js"></script>

<script type="text/javascript"
	src="../res/scripts/login.js"></script>

</head>
	<body>
		<div class="global">
			<div class="log log_in" tabindex='-1' id='dl'>
				<dl>
					<dt>
						<div class='header'>
							<h3>登&nbsp;录</h3>
						</div>
					</dt>
					<dt></dt>
					<dt>
						<div class='letter'>
							用户名:&nbsp;<input type="text" name="" id="count" tabindex='1'/>							
						</div>
					</dt>
					<dt>
						<div class='letter'>
							密&nbsp;&nbsp;&nbsp;码:&nbsp;<input type="password" name="" id="password" tabindex='2'/>							
						</div>						
					</dt>
					<dt>
						<div class='letter'>
							验证码:&nbsp;<input type="text" name="" id="code" tabindex='4'/>	
							<a href="javascript:void(0);" rel="external nofollow" title="" >
  							 <img id="imgVerify" style=" margin-top:-20px;"  src="" alt="" onclick="getVerify(this);">
  							</a>		
						</div>
						<div class='letter'>
							<span style = "color : red ;float:left; padding-left:90px;" id ="span"></span>
						</div>
					</dt>
					
					
					<dt>
						<div class='letter'>
							<input type="button" style="line-height:30px;" name="" id="login" value='&nbsp登&nbsp录&nbsp' tabindex='3'/>
							<!-- <input type="button" name="" id="sig_in" value='&nbsp注&nbsp册&nbsp' tabindex='4'/> -->
						</div>
					</dt>
				</dl>
			</div>
			<div class="sig sig_out" tabindex='-1' id='zc' style='visibility:hidden;'>
				<dl>
					
					<dt>
						<div>
							<!-- <input type="button" name="" id="regist_button" value='&nbsp注&nbsp册&nbsp' tabindex='9'/> -->
							<!-- <input type="button" name="" id="back" value='&nbsp返&nbsp回&nbsp' tabindex='10'/> -->
							<script type="text/javascript">
									/* var url = "";
									$(function(){
										
										var pathName=window.document.location.pathname;
								    	var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);
										url =window.location.protocol + '//' + window.location.host+projectName+"/";
										$("#imgVerify").attr("src",url + "/user/getVerify");
										
									});
									//获取验证码
									function getVerify(obj){
										$("#imgVerify").attr("src", "");
										 obj.src = url + "/user/getVerify?"+Math.random();
									} */
									function get(e){
										return document.getElementById(e);
									}
									/* get('sig_in').onclick=function(){ 
										get('dl').className='log log_out';
										get('zc').className='sig sig_in';
									} */
									/* get('back').onclick=function(){
										get('zc').className='sig sig_out';
										get('dl').className='log log_in';
									} */
									window.onload=function(){
										var t =setTimeout("get('zc').style.visibility='visible'",800);
										//get('final_password').onblur=function(){
										//	var npassword=get('regist_password').value;
										//	var fpassword=get('final_password').value;
										//	if(npassword!=fpassword){
										//		get('warning_3').style.display='block';
										//	}
										//}
										//get('regist_password').onblur=function(){
										//	var npassword=get('regist_password').value.length;
										//	if(npassword<6&&npassword>0){
										//		get('warning_2').style.display='block';
										//	}
										//}
										//get('regist_password').onfocus=function(){
										//	get('warning_2').style.display='none';
										//}
										//get('final_password').onfocus=function(){
										//	get('warning_3').style.display='none';
										//}
									}
							 
							</script>
						</div>
					</dt>
				</dl>
			</div>
		</div>
	</body>
</html>