body {
    background锛�#fff;
    font-family: microsoft yahei;
    margin: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.content {
    max-width: 980px;
    margin: auto;
}

.container {
    
    border-top: 10px solid #ff5800;
}
.content >div{
    padding: 0 5%;
}
h1 {
    /*font-weight: normal;*/
    color: #ff5800;
    padding: 37px 0 30px;
    margin: 0;
}

h3 {
    position: relative;
    padding-left: 15px;
    /*font-weight: normal;*/
    font-size: 20px;
     color: #1d1d1d;
}
h4{
    margin-left: 15px;
    color: #1d1d1d;
    /*font-weight: normal;*/
}
h2 {
  background-color: #fdeadf;
  color: #1d1d1d;
  /*font-weight: normal;*/
  font-size: 20px;
  padding: 13px 20px;
  margin: 25px -20px;
}
h3:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #1d1d1d;
    position: absolute;
    transform: rotate(45deg);
    left: 0;
    top: 50%;
    margin-top: -2px;
}
h3 span{
    font-size: 14px;
    margin-left: 45px;
}
p {
    font-size: 15px;
    line-height: 2em;
}

.content {
   
    color: #5a5a5a;
    padding-bottom: 90px;
}

.content i,
.content b {
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    margin-right: 7px;
}

.content b {}

.list>div {
    /*border-bottom: 1px dashed #ddd;*/
}

.list p:last-child {}

.detail {
    padding-left: 20px;
    color: #666;
    font-size: 13px;
}

.detail {
    padding-left: 20px;
    color: #666;
    font-size: 13px;
}

.list>div p {
    padding-left: 15px;
}
.highlight{
    color: #ff5800;
   
}
.fs-20{
     font-size: 20px;
}